.navbar {
    background-color: var(--base-color);
    padding: 30px;
    padding-right: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon {
    margin-right: 5px;
}
.logo {
    display: inline-block;
}