.navbar {
    background-color: var(--base-color);
    padding: 20px;
    padding-right: 0;
}

.icon {
    margin-right: 5px;
}
.logo {
    display: inline-block;
}

.link-container {
    float: right;
}

.link-container * {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.link-container *:hover {
    background-color: rgb(88, 194, 74);
}
