.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(124, 124, 124);
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    padding: 10px 70px 10px 20px;
}

.sidebar a:hover {
    background-color: rgb(73, 73, 73);
}