@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
    --base-color: rgb(106, 238, 89);
}

html, body {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: "Play", sans-serif;
    font-size: larger;
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}